/*--------- Google Fonts Imports ---------*/
@import url('https://fonts.googleapis.com/css?family=Arvo:400,400i,700,700i|Merriweather:300,300i,400,400i,700,700i,900|Open+Sans:300,300i,400,400i,600,700,800|Roboto+Mono:300,300i,400,400i,500,700|Roboto+Slab:100,300,400,700|Ubuntu+Mono:400,400i,700,700i|Ubuntu:300,300i,400,400i,500,500i,700,700i|Lato:100,100i,300,300i,400,400i,700,700i,900|Roboto:100,100i,300,300i,400,400i,500,500i,700,900|Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900');

/*
font-family: 'Arvo', serif;
font-family: 'Merriweather', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Roboto Slab', serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Ubuntu Mono', monospace;
font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
 */

/*--------- Grid System ---------*/
.container {
    max-width: 80vw;
    clear: both;
    padding: 0px;
    margin: 0px;
    flex-wrap: wrap;
}
.col {
    display: block;
    float: left;
    padding-right: 20px;
    padding-left: 20px;
    flex-basis: 0;
    flex-grow: 1;
}
.group:before,
.group:after { content:""; display:table; }
.group:after {clear:both;}
.group {margin: 0 auto; zoom:1; /* For IE 6/7 */ }

@media screen and (min-width: 1001px) {
    .large-12 {max-width: 100%;}
    .large-11 {max-width: 91.66666%;}
    .large-10 {max-width: 83.33333%;}
    .large-9 {max-width: 75%;}
    .large-8 {max-width: 66.66666%;}
    .large-7 {max-width: 58.33333%;}
    .large-6 {max-width: 50%;}
    .large-5 {max-width: 41.66666%;}
    .large-4 {max-width: 33.33333%;}
    .large-3 {max-width: 25%;}
    .large-2 {max-width: 16.6666%;}
    .large-1 {max-width: 8.33333%;}

    .container {
        display: flex;
    }
}

@media screen and (min-width: 601px) and (max-width: 1000px) {
    .med-12 {max-width: 100%;}
    .med-11 {max-width: 91.66666%;}
    .med-10 {max-width: 83.33333%;}
    .med-9 {max-width: 75%;}
    .med-8 {max-width: 66.66666%;}
    .med-7 {max-width: 58.33333%;}
    .med-6 {max-width: 50%;}
    .med-5 {max-width: 41.66666%;}
    .med-4 {max-width: 33.33333%;}
    .med-3 {max-width: 25%;}
    .med-2 {max-width: 16.6666%;}
    .med-1 {max-width: 8.33333%;}
}

@media screen and (max-width: 600px) {
    .small-12 {max-width: 100%;}
    .small-11 {max-width: 91.66666%;}
    .small-10 {max-width: 83.33333%;}
    .small-9 {max-width: 75%;}
    .small-8 {max-width: 66.66666%;}
    .small-7 {max-width: 58.33333%;}
    .small-6 {max-width: 50%;}
    .small-5 {max-width: 41.66666%;}
    .small-4 {max-width: 33.33333%;}
    .small-3 {max-width: 25%;}
    .small-2 {max-width: 16.6666%;}
    .small-1 {max-width: 8.33333%;}
}
/*--------- General Section Styles ---------*/
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.yellow {
    color: #f9ca24;
}

.blue {
    color:  #0c2461;
}

.underline {
    border-bottom: 1px dashed #f9ca24;
}

section {
    width: 100%;
}

.btn-hollow-white {
    border: 1.5px dashed #4a69bd;
    padding: 10px 20px;
    background-color: transparent;
}

.btn-hollow-white a {
    color: #4a69bd;
    text-decoration: none;
    font-size: 14px;
    font-weight: 200;
    font-family: 'Ubuntu Mono', monospace;
}

.section-title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color:  #0c2461;
}

.section-title-dark {
    color: #57606f;
    font-family: 'Arvo', serif;
    text-align: left;
}

.section-title-light {
    color: #c7e4ee;
    font-family: 'Arvo', serif;
    text-align: left;
}

.section-title strong {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 35px;
}

.section-text {
    font-family: 'Source Sans Pro', sans-serif;
    /*
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
     */
    color: #576574;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}
/*--------- Navigation Bar Styles ---------*/
.container-nav {
    max-width: 80%;
    margin: 0 auto;
}

.topnav {
    overflow: hidden;
    background-color: #fff;
    padding: 1em 0em;
    border-bottom: 1.5px solid #f1f2f6;
}

.topnav a {
    float: left;
    display: block;
    color: #a4b0be;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    text-transform: lowercase;
    padding: 14px 25px;
    font-weight: 400;
    text-decoration: none;
    font-size: 14px;
}

.topnav .logo strong {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 15px;
}

.topnav .logo {
    color: #0c2461;
    padding-left: 0;
    font-weight: 500;
    font-family: 'Ubuntu', serif;
    font-size: 14px;
}
.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 10%;
        top: 1.05em;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        padding-left: 0;
        text-align: left;
    }
}

@media screen and (min-width: 601px) {
    .topnav a {
        float: right;
    }
    .topnav .logo {
        float: left;
    }
}
/*--------- Header Section Styles ---------*/
.header {
    background-color: #0c2461;
    background-image: linear-gradient(to right, #0c2461 , #1e3799);
    padding-top: 32vh; padding-bottom: 32vh;
    max-width: 100%;
}

.header-title {
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    font-weight: 600;
    font-size: 60px;
}

.header-title strong {
    background-image: url("../images/highlight.png");
    background-size: cover;
}
/*.header-title strong {
    font-family: 'Ubuntu Mono', monospace;
    font-weight: 600;
    /*border-right: .08em solid white;
    animation:
            blink-caret 1s step-end infinite;
    padding-right: 20px;
}*/

.header-subtitle {
    color: #8396e2;
    font-size: 14px;
    line-height: 25px;
    font-weight: 300;
    font-family: 'Open Sans';
}
/*--------- Information Section Styles ---------*/
.information {
    background-color: #fff;
    padding: 4em 0em 6em 0em;
}

@media screen and (min-width: 1001px) {
    .information .section-text:nth-child(1) {
        margin-top: 70px;
    }
}

.information .btn-hollow-white {
    border: 1.5px dashed #ced6e0;
    padding: 10px 20px;
    background-color: transparent;
}

.information .btn-hollow-white a {
    color: #ced6e0;
    text-decoration: none;
    font-size: 14px;
    font-weight: 200;
    font-family: 'Ubuntu Mono', monospace;
}
/*--------- Skills Section Styles ---------*/
.skills {
    background-color: #f2faff;
    padding: 4em 0em 8em 0em;
}

.skills img {
    padding: 0 20px 70px 0;
    float: left;
}

.skills i {
    color: #c7e4ee;
    font-size: 3em;
    float: left;
    padding: 0 20px 10px 0;
}

.skills .large-4 .section-text {
    margin-top: -5px;
    float: left;
}

.skills p {
    color: #a4b0be;
}

.skills b {
    color: #95afc0;
    position: relative;
    top: -18px;
    font-family: 'Ubuntu Mono', monospace;
}

@media screen and (min-width: 1001px) {
    .skills .container {
        padding: 15px 0px 20px 0px;
    }
}

@media screen and (max-width: 1000px) {
    .skills .col {
        padding: 20px 0px 20px 0px;
    }
}
/*--------- Call to Action Section Styles ---------*/
.call-to-action {
    background-color: #222f3e;
    padding: 4em 0em 4em 0em;
}

.call-to-action .section-title {
    color: #576574;
    text-align: center;
    display: inline;
    line-height: 2em;
    font-size: 24px;
}

.call-to-action .btn-hollow-white {
    border-color: #576574;
}

.call-to-action .btn-hollow-white a {
    color: #576574;
}

@media screen and (min-width: 1001px) {
    .call-to-action .btn-hollow-white {
        margin-top: -4px;
        margin-left: 30px;
    }
}

@media screen and (max-width: 1000px) {
    .call-to-action .btn-hollow-white {
        margin-top: 22px;
        clear: both;
    }
}
/*--------- Projects Section Styles ---------*/
.projects {
    background-color: #fff;
    padding: 4em 0em 8em 0em;
}

.project-container {
    border: 1.2px dashed #f1f2f6;
    padding: 1em 1.5em;
    background-color: #fff;
}

.project-title {
    color: #a4b0be;
    font-size: 14px;
    text-transform: lowercase;
    font-family: 'Ubuntu Mono', monospace;
}

.project-title i.fa-check {
    float: right;
    color: #1dd1a1;
}

.project-title i.fa-clock {
    float: right;
    color: #feca57;
}

.project-container .section-text {
    color: #a4b0be;
}

.project-container li {
    list-style: none;
}
/*--------- Contact Section Styles ---------*/
.contact {
    background-color: #f2faff;
    padding: 6em 0em 6em 0em;
}

.contact li {
    list-style: none;
    line-height: 22px;
    font-size: 12px;
    font-family: 'Source Sans Pro', sans-serif;
}

.contact .large-2 {
    clear: both;
}

.contact li i {
    color: #95afc0;
}

.contact li a {
    text-decoration: none;
    color: #95afc0;
}

.contact li b {
    color: #95afc0;
    font-family: 'Source Sans Pro', sans-serif;
}

.contact .large-2 {
    margin-top: 20px;
}
/*--------- Footer Section Styles ---------*/
.footer {
    background-color: #222f3e;
    padding: 6em 0em 6em 0em;
}

.footer-title {
    color: #576574;
    font-family: 'Ubuntu', serif;
}

.footer-links {
    list-style: none;
    margin-left: -40px;
}

.footer-link a {
    text-decoration: none;
    color: #8395a7;
    font-size: 14px;
    line-height: 25px;
    font-family: 'Ubuntu Mono', monospace;
}

.footer-logo {
    font-family: 'Ubuntu', serif;
    color: #313e4c;
    font-size: 3em;
}

.subfooter {
    background-color: #17202b;
    padding: 6em 0em 6em 0em;
}

.subfooter-credit {
    color: #222f3e;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Ubuntu Mono', monospace;
}

.subfooter-copy {
    color: #222f3e;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Ubuntu Mono', monospace;
}

@media screen and (min-width: 1001px) {
    .subfooter-credit {
        float: left;
    }

    .subfooter-copy {
        float: right;
    }

    .footer-logo {
        float: right;
    }
}